body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body{
    background-color:#f2f2f2;
}
*{padding:0;margin:0;}
#ul-fenye{font-size:0;font-family:Microsoft YaHei;display:inline-block;}
#ul-fenye li{
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    list-style: none;float:left;padding:6px;font-size:13px;border:1px solid #ccc;margin:2px;cursor:pointer;color:#585858;}
#div-fenye{
    text-align: center;
}
#ul-fenye .background{background:#39C6F4;
    color:white;
    border:1px solid #39C6F4;
}

.top-right-img{
    animation: flash 1s;
}
#icy-nav{
    background: #f2f2f2;
}
.top{
    background: white;
   padding-top: 20px;
}
.top .top-left img{
  height: 40px;
}
.icy_sch{
    margin-top:3px;
}
.icy_sch input{
    border: 3px solid deeppink;
    border-radius: 0px;
}
.icy_sch input:focus{
    border: 3px solid deeppink;
    box-shadow: 0px 0px 0px;
}
.icy_sch button{
    border: 1px solid deeppink;
    border-radius: 0px;
    background-color: deeppink;
    color: white;
    width: 90px;
}
#sch_btn:hover{
    border: 1px solid rgb(255, 20, 147);
    background: deeppink !important;
    color: white;
}
#sch_btn:focus{
    color: white;
    outline: 0px;
}
.mid-2-nav{
    border: 0px;
    background: white;
    min-height: 1em;

}
.mid-2-ul li{
    margin-right: 30px;
}
.mid-2-ul li a{
    font-size: 0.5em;
    color: rgba(128, 128, 128, 0.55);
    padding: 0px;
    margin-top: 15px;
}
.r-1 .dao_ul{
    padding-bottom: 10px;
    padding-top: 10px;
}
.r-1 .dao_ul li a{
    color: gray;
}
li{
    text-align: center;
    list-style: none;
}
.r-2-1{
    background: white;
}
#r-2-1{
    background: white;
    color:rgba(128, 128, 128, 0.7);
    cursor: default;
}
.con{
    margin-top: 50px;
}
.con .main_content .r-2 .r-2-tb{
    /*border: 1px solid rgba(128, 128, 128, 0.4);*/
}
.con .main_content .r-2 .r-2-tb tr td{
    /*border-top: 1px dashed rgba(128, 128, 128, 0.4);*/
    /*border-bottom: 1px dashed rgba(128, 128, 128, 0.4);*/
    padding-top: 15px;
    padding-left: 15px;
}
.con .main_content .r-2 .r-2-tb tr td:nth-child(1){
    color:rgba(128, 128, 128, 0.7);
}
.con .main_content .r-2 .r-2-tb tr td span{
    display: inline-block;
    cursor: pointer;
    margin-right:80px;
    margin-bottom:15px;
}
.con .main_content .r-2 .r-2-tb tr td span:hover{
    text-decoration: underline;
    color: red;
}
.r-3{
    margin-top: 10px;
}
.r-2-tb{
    background-color: white;
}

.r-3-nav{
    background-color:white;
}
.r-4{
    /*border: 1px solid rgba(128, 128, 128, 0.71);*/
    /*border-radius: 10px;*/
    padding-left: 0px;
    height: 500px;
}
.con .r-4 .goods{
    /*margin-top: 20px;*/
}
/*#img-1{*/
/*padding-left: 0px;*/
/*}*/
.con .row .r-4 .r-4-1 .goods{
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 15px;
}
.goods .goods-content{
    background: white;
}
.goods .goods-content:hover{
    box-shadow: 0px 0px 5px #888888;
}
.goods img{
    border-bottom: 1px dashed rgba(128, 128, 128, 0.26);
}
.goods .goods-content .goods-d-1{
    padding: 10px;
}
.goods-p-1{
    padding-bottom: 10px;
    color: deeppink;
    font-size: 1.5em;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.26);
}
.goods-p-1 .rect{
    background: deeppink;
    color: white;
}
.goods-p-2{
    margin-top: 15px;
}
.goods-p-2 a{
    color: black;
}
.goods-p-2 a:hover{
    color: red;
}
.goods-p-3{
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 0.8em;
}
.goods-p-3 a{
    color: gray;
}
.main_content .r-4 .r-4-1{
    margin-bottom:20px;
}
.con .row .main_content .r-4 .r-4-1 .goods-4{
    padding-left: 15px;
    padding-right: 0px;
}
.con .row .main_content .r-4 .r-4-1 .goods-3{
    padding-left: 10px;
    padding-right:5px;
}
.con .row .main_content .r-4 .r-4-1 .goods-2{
    padding-left: 5px;
    padding-right:10px;
}
#r-5-input{
    height: 2.0em;
    width:3.5em;
}
#div-fenye ul{
}
#r-5-2{
    margin-top: 28px;
    color: gray;
    opacity: 0%;
}