.qz_con{
    margin-top: 50px;
    padding: 0;
    height: 1500px;
    background: #f9f9f9;
}
.qz_row{
    margin: 15px;
}
.qz_per{
    margin-top: 75px;
    border-radius: 20px;
    background: #FFAAAA;
}
.qz_cir{
    float: right;
    position: relative;
    left: 75px;
    top: -75px;
}
.qz_cul{
    float: right;
    position: relative;
    top: -65px;
}
.qz_por{
    width: 100%;
}
.qz_nic{
    text-align: center;
}
.qz_nicfon{
    height: 80px;
    line-height: 80px;
    font-size: 1.5em;
    font-family: 幼圆;
}
.qz_gra{
    font-size: 1.2em;
    font-family: 幼圆;
}
.dis_mor{
    float: right;
}
.qz_morinf{
    font-size: 0.9em;
    font-family: 幼圆;
}
.qz_more{
    height: 80px;
    background: red;
}


/*模态框*/
.qz_mobtn{
    float: right;
    width: 50px;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 幼圆;
    color: white;
    background-color: #FFAAAA;
    outline: none;
}
.qz_mobtn:hover, .btn:focus{
    background-color: #95b4ed;
}
.qz_modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
}
.qz_mocon{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 35%;
    height: 55%;
    margin: 150px auto;
    border-radius:10px;
    background-color:#fff;
    -webkit-animation: zoom 0.6s;
    animation: zoom 0.6s;
    resize: both;
    overflow: auto;
    resize: none;

}
@-webkit-keyframes zoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom{
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.qz_mohead{
    box-sizing:border-box;
    border-bottom:1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qz_close{
    color: #b7b7b7;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    transition: all 0.3s;
}
.qz_close:hover, .close:focus{
    color: #95b4ed;
    text-decoration: none;
    cursor: pointer;
}
.qz_mobody{
    padding: 10px;
    font-size: 16px;
    box-sizing:border-box;
}
.qz_text{
    resize: none;
    width: 95%;
    margin: 7px;
    float: right;
    font-family: 幼圆;
    font-size: 1.1em;
}
.qz_opt{
    font-family: 幼圆;
}
.qz_mofoot{
    box-sizing:border-box;
    border-top:1px solid #ccc;
    display: flex;
    padding: 15px;
    justify-content: flex-end;
    align-items: center;
}
.qz_mofoot button{
    width: 60px;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    margin-right: 10px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    background-color: #FFAAAA;
}
.qz_mofoot button:hover, .qz_mofoot button:focus{
    background-color: #95b4ed;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 80%;
    }
}
/*模态框结束*/






.qz_ski{
    margin-top: 80px;
    border-radius: 5px;
    background: rgba(255, 170, 170, 0.29);
}
.qz_skitit{
    text-align: center;
}
.font_skitit{
    height: 80px;
    line-height: 80px;
    /*font-weight: bolder;*/
    font-size: 1.5em;
    font-family: 幼圆;
}
.font_skinfo{
    font-size: 1.5em;
    font-family: 幼圆;
}
.qz_skinfo{
    text-align: center;
}
.qz_leaimg{
    width: 80px;
    margin: auto;
}
.lea_img{
    margin: auto;
}
.qz_open{
    text-align: center;
    margin-top: 50px;
}
.font_open{
    height: 60px;
    line-height: 60px;
    font-weight: bolder;
    font-size: 2em;
    font-family: 幼圆;
}
.qz_nimg{
    margin: auto;
    width: 200px;
}
.img_diary{
    height: 100%;
    margin: auto;
}
.qz_nav{
    text-align: center;
}
.font_nav{
    height: 30px;
    line-height: 30px;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: 幼圆;
}
.qz_ndis{
    text-align: center;
}
.font_inf{
    height: 20px;
    line-height: 20px;
    font-size: 1em;
    font-family: 幼圆;
}
#qz_diary{
    display: block;
}
.qz_cen{
    background: #9783b9;
    margin: 10px;
    overflow: hidden;
}
.qz_cimg{
    margin: auto;
    transition: all 1s ease-in-out;
}
.cimg_active{
    margin: auto;
    transition: all 1s ease-in-out;
    transform: scale(1.5,1.5);
}
.qz_coimg{
    /*border: solid 10px red;*/
    display: block;
    position: relative;
    background: rgba(0, 0, 0, 0.75);
}
#qz_collection{
    display: none;
}
#qz_admission{
    display: none;
}

/*动画*/
/*左滑入*/
.animal_sil{
    animation: slideInLeft 2s;
}
/*右滑入*/
.animal_sir{
    animation: slideInRight 1s;
}
/*旋转一半*/
.animal_rin:hover{
    animation: rotateIn 1s;
}
/*放大*/
/*.anima_pul:hover{*/
    /*animation: pulse 1s;*/
/*}*/
/*摇晃*/
.anima_jel:hover{
    animation: jello 1s;
}
/*.animal_jac:hover{*/
    /*animation: jackInTheBox 1s;*/
/*}*/

/*qz动画*/









/*.qz_body{*/
    /*background: #C1DEF7;*/
/*}*/
/*.qz_con{*/
    /*margin-top: 50px;*/
    /*padding: 0;*/
/*}*/
/*.qz_head{*/
    /*margin: 15px 0px;*/
/*}*/
/*.wid_nav{*/
    /*background: #FFF7FB;*/
/*}*/
/*.cen_icon{*/
    /*margin-top: 20px;*/
/*}*/
/*.cen_inf{*/
    /*margin:10px;*/
/*}*/
/*.ico_lin{*/
    /*border-bottom: solid 3px rgba(220, 20, 60, 0);*/
/*}*/
/*.ico_lin_act{*/
    /*border-bottom: solid 3px #dc143c;*/
/*}*/

/*首页样式*/
/*.qz_home{*/
    /*margin: 15px 0px;*/
    /*display: block;*/
/*}*/
/*.qz_row{*/
    /*margin: 15px 0px;*/
/*}*/
/*.qz_line{*/
    /*height: 1px;*/
    /*margin: 5px;*/
    /*background: #EEEEEE;*/
/*}*/
/*.portrait{*/
    /*float: left;*/
/*}*/
/*.pet_name{*/
    /*padding-top: 20px;*/
/*}*/
/*.qz_an{*/
   /*font-size: 1.5em;*/
/*}*/
/*.qz_ag{*/
    /*font-size: 1.2em;*/
/*}*/
/*.num_f{*/
    /*margin-top: 15px;*/
/*}*/
/*.qz_group{*/
    /*width: 200px;*/
    /*float: right;*/
    /*margin-top: 10px;*/
/*}*/
/*.qz_str{*/
    /*font-size: 1.2em;*/
    /*color: #FF95CA;*/
/*}*/
/*.qz_bad{*/
    /*background: red;*/
/*}*/
/*.qz_dyn{*/
    /*height: 100px;*/
    /*!*background: #FFAAAA;*!*/
/*}*/
/*.dyt_cli{*/
    /*height: 100px;*/
    /*margin: 0px -15px;*/
/*}*/
/*.qz_dbt{*/
    /*width: 80%;*/
    /*height: 40%;*/
    /*font-size: 1.2em;*/
    /*margin-top: 20px;*/
    /*background: #FFC1E0;*/
    /*border-color: #FFC1E0;*/
/*}*/
/*.dyt_img{*/
    /*height: 100px;*/
    /*margin-left: -15px;*/
    /*!*background: #FFAAAA;*!*/
/*}*/
/*.dyt_img img{*/
    /*height: 100%;*/
/*}*/
/*.dy_pic{*/
    /*height: 100px;*/
    /*margin-right: -12px;*/
    /*!*background: #FFAAAA;*!*/
/*}*/
/*.dy_pic img{*/
    /*height: 100%;*/
    /*!*object-fit: contain;*!*/
/*}*/
/*.dy_info{*/
    /*height: 100px;*/
    /*margin-left: -12px;*/
    /*!*background: #9783b9;*!*/
/*}*/
/*.dy_tit{*/
    /*font-size: 1.2em;*/
/*}*/
/*.qz_a{*/
    /*color: purple;*/
/*}*/
/*.qz_gly{*/
    /*color: purple;*/
/*}*/
/*.qz_ext{*/
    /*height: 100px;*/
/*}*/
/*.ext_tit{*/
    /*font-size: 1.2em;*/
/*}*/
/*.dedli_pic{*/
    /*height: 100px;*/
    /*margin-right: -15px;*/
    /*!*background: #FFAAAA;*!*/
/*}*/
/*.dedli_pic img{*/
    /*height: 100%;*/
/*}*/
/*.dedli_inf{*/
    /*height: 100px;*/
    /*margin-left: -15px;*/
    /*!*background: #9783b9;*!*/
/*}*/
/*.qz_a{*/
    /*text-decoration: none;*/
/*}*/
/*.qz_dis{*/
    /*font-size: 1.2em;*/
    /*color: #0f0f0f;*/
/*}*/
/*.qz_dip{*/
    /*font-size: 0.8em;*/
    /*color: #0f0f0f;*/
/*}*/
/*.qz_das{*/
    /*font-size: 1.2em;*/
/*}*/
/*.fab_pic{*/
    /*height: 70px;*/
    /*margin-right: -15px;*/
    /*!*background: #9783b9;*!*/
/*}*/
/*.fab_pic img{*/
    /*height: 100%;*/
/*}*/
/*.fab_inf{*/
    /*height: 70px;*/
    /*margin-left: -15px;*/
    /*!*background: #FFAAAA;*!*/
/*}*/
/*.qz_fis{*/
    /*font-size: 1.2em;*/
/*}*/

/*动态页样式*/
/*.mic_body{*/
    /*display: none;*/
    /*margin: 15px 0px;*/
/*}*/
/*.dyn_pic{*/
    /*height: 40px;*/
    /*!*background: #FFAAAA;*!*/
/*}*/
/*.dyn_pic img{*/
    /*height: 100%;*/
/*}*/
/*.dyn_for{*/
    /*float: left;*/
/*}*/

/*收藏页样式*/
/*.qz_collect{*/
    /*display: none;*/
    /*margin: 15px 0px;*/
/*}*/
/*.shoucang{*/
    /*height: 800px;*/
    /*background: #9783b9;*/
/*}*/

/*设置页样式*/
/*.qz_set{*/
    /*display: none;*/
    /*margin: 15px 0px;*/
/*}*/
/*.shezhi{*/
    /*height: 800px;*/
    /*background: #66afe9;*/
/*}*/

/*动画*/
/*放大*/
/*.anima_pul:hover{*/
    /*animation: pulse 1s;*/
/*}*/
/*.animal_swi:hover{*/
    /*animation: swing 1s;*/
/*}*/
/*.animal_bin:hover{*/
    /*animation: bounceIn 1s;*/
/*}*/
/*左滑入*/
/*.animal_sil{*/
    /*animation: slideInLeft 1s;*/
    /*!*color: #FF79BC;*!*/
/*}*/
/*.animal_jac:hover{*/
    /*animation: jackInTheBox 1s;*/
/*}*/