/*字体*/
/*首页部分——开始*/
/*头像昵称*/

.qz_nick{
    height: 50px;
}
.font_nick{
    font-size: 1.1em;
    font-weight: bolder;
    line-height: 50px;
}

/*账号安全*/
.font_account{
    font-size: 1.3em;
}
.font_bind{
    font-size: 1.1em
}
.font_binin{
    color: #A6A2AA;
    font-size: 0.8em
}
/*首页部分——结束*/
/*我的信息—开始*/
.text_title{
    font-family: 幼圆;
    font-size: 1.1em;
    float: right;
    margin-top: 15px;
}
.qz_text{
    font-family: 幼圆;
    font-size: 1.1em;

    /*width: 95%;*/
    margin: 15px;
    resize: none;
    /*float: right;*/
}
.font_pendant{
    font-size: 1.1em;
}
/*我的信息—结束*/




/*全局*/
.choose_sharing {
    border: solid 1px #d9d9d9;
    border-radius: 5px;
    height: 100%;
}
.content_sharing {
    border: solid 1px #d9d9d9;
    border-radius: 5px;
    min-height: 700px;
}
.shu_nav{
    border-bottom: none;
    border-right: solid 2px #f7c5c9;
    /*padding-right: -1px;*/
    box-sizing: border-box;
}
/*首页部分*/
.row_margin{
    margin-top: 30px;
}
/*--------------输入部分--------------*/
.margin_end{
    margin-bottom: 50px;
}
.shu_active{
    margin-right: -2px !important;
    border: solid 2px #f7c5c9 !important;
    border-right: solid 2px white !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.shu_active:hover{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.shu_active a{
    font-size: 1.2em;
    background: #f7c5c9 !important;
    border-radius: 3px !important;
}
/*--------------输入部分--------------*/
.text_active{
    animation: fadeInUp 1s;
}


/*首页部分—开始*/
/*头像昵称—开始*/
.head_img{
    border-radius: 50%;
    height: 100%;
}
/*按钮—开始*/
.button--continue {
    position: relative;
    padding-right: 2em;
}
.button--primary {
    background: rgba(220, 20, 60, 0.71);
    color: #fff;
    border: solid 2px rgba(220, 20, 60, 0.71);
}
.button--primary:hover{
    background: whitesmoke;
    text-decoration: none;
    color: rgba(220, 20, 60, 0.71);
}
/*编辑按钮—开始*/
/*.button--edit {*/
/*background: #FFAAAA;*/
/*color: #fff;*/
/*border: #FFAAAA;*/
/*}*/
/*.button--edit:hover{*/
/*background: #FFE3E5;*/
/*text-decoration: none;*/
/*color: #FFAAAA;*/
/*}*/
/*编辑按钮—结束*/
.button {
    border-radius: .6em;
    padding: .2em 1em .3em;
    line-height: 1.618;
    display: inline-block;
    text-align: center;
    text-align-last: center;
    vertical-align: middle;
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    transition: all .2s ease-out;
    text-decoration: none;
}
.margin-bottom {
    margin-bottom: 2rem;
}
.margin-top {
    margin-top: 2rem;
}
/*按钮—结束*/
/*头像昵称—结束*/
/*彩虹认证—开始*/
.qz_authent{
    height: 240px;
    background: rgba(220, 20, 60, 0.6);
    border-radius: 10px;
    text-align: center;
    padding-top: 40px
}
.auth_pic{
    height: 110px;
}
.auth_pic img{
    margin: auto;
}
.auth_tit{
    font-weight: bolder;
    font-size: 1.6em;
    color: whitesmoke;
}
.auth_inf{
    font-size: 0.8em;
    color: whitesmoke;
}
/*彩虹认证—结束*/
/*账号安全—开始*/
.account_pic{
    border-radius: 50%;
    background: #ADB6C7;
    height: 50px;
    padding-top: 7px;
}
.account_pic img{
    margin: auto;
}
/*账号安全—结束*/
/*首页部分—结束*/

/*我的信息—开始*/
.log_bla{
    margin-left: 30px;
}
.select_button{
    margin: 15px 5px;
    background: #FFAAAA;
    border: #FFAAAA;
}
.button_active{
    background: #2DAED4;
}
.qz_line{
    margin-top: 50px;
    height: 1px;
    background: #d9d9d9;
}
.submit_button{
    background: #FFAAAA;
    border: #FFAAAA;
}
/*我的信息—结束*/

/*我的头像—开始*/
/*背景*/
.guide{
    margin-top: 100px;
}
.change_em {
    width: 200px;
    height: 200px;
    /*display: block;*/
    position: absolute;
    margin-top: 0px;
    border: solid 1px #d9d9d9;
    border-radius: 50%;
}
/*选择区域*/
.change_head {
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    border-radius: 50%;
    margin: 50px;
}
/*头像图片*/
.master_head {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 50px;
}
.qz_line2{
    margin-top: 130px;
    height: 1px;
    background: #d9d9d9;
}
/*我的头像—结束*/






